*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: #888;
    -webkit-font-smoothing: antialiased;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: 'Staatliches', cursive;
}
.navbar{
    background: #ee9ca7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ee9ca7, #ffdde1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
    padding: 0 !important;
}
/* Logo resize */
.navbar-brand img{
    height: 4rem;
    padding-left: 3rem;
}
.navbar-nav{
    margin-right: 3rem;
}
.navbar-nav li{
    padding: 0 1rem;
}
.navbar-nav li{
    padding: 0 1rem;
}
.navbar-nav .nav-item .nav-link{
    color: #fff !important; 
    font-weight: 600; 
    float: right; 
    text-align: left;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #D76D77!important;
    transition: 0.3s;
}
.fa-bars, .fas.fa-bars{
    color: #fff !important; 
    font-size: 25px !important;
}
.navbar-toggler{
    outline: none !important;
}
/* --------- Banner ---------- */
.banner{
    background: #ee9ca7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ee9ca7, #ffdde1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
    color: #fff; 
    padding-top: 5%;
    font-family: 'Staatliches', cursive;
}
.promo-title{
    font-size: 3rem;
    font-weight: 600; 
    margin-top: 3em;
}
.join-title{
    font-size: 1.44rem;
}
.link-play{
    text-decoration: none;
}
.link-play:hover{
    color: #E100FF;
    text-decoration: none!important;
}
.play-btn{
    width: 45px;
    margin: 20px 0;
    margin-right: 2em;
    text-decoration: none !important;
    transition: transform 1.2s;
}
.play-btn:hover{
    color: #444;
    background: #ffdde1;
}
.banner a{
    color: #fff; 
    text-decoration: none!important;
}
.img-fluid{
    margin-top: 4rem;
}
.bottom-img{
    width: 100%;
}
/* ---------- Services --------- */
#services{
    padding: 50px 0;
    font-family: 'Staatliches', cursive;
}
.service-img{
    width: 130px;
    margin-top: 2rem;
}
.services{
    padding: 20px;
}
.services h4{
    padding: 1em;
    margin-top: 5px; 
    text-transform: uppercase;
}

.title::after{
  content: '';
  background: #D76D77;
  height: 8px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 70px;
  transform: translateY(23px);}
#services .btn-primary{
  box-shadow: none;
  padding: 8px 25px;
  border: 2px solid #ffdde1;
  border-radius: 20px;
  background: #ffdde1;
    color: black;
}
#services .btn-primary:hover{
    background: white;
    transition: 0.3s;
    color: black;
}
/* -----------   About -------------*/
#about{
    background-color: #f8f9fa; 
    padding-bottom: 4rem;
    padding-top: 3rem;
    font-family: 'Staatliches', cursive;
}
.about-title{
    font-size: 1.6em;
    margin-top: 8%;
    font-weight: 600;
}
#about ul li{
    margin: 10px 0;
}
#about ul{
    margin-left: 20px;
}
/* ------- Testimonials Section -----*/
#testimonials{
    margin: 100px 0;
}
.testimonials{
    border-left: 3px solid #74ebd5; 
    margin: 50px 0;
}
.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%; 
    margin: 0 10px;
}
.user-details{
    display: inline-block;
    font-size: 12px;
}
.feedback{
    font-style: italic;
}
/* ----- Footer ------*/
#footer{
    background: #ee9ca7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ee9ca7, #ffdde1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
    color: #fff;
    font-family: 'Staatliches', cursive;
}
.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 4rem; 
    margin-bottom: 20px;
}
.footer-box .fas {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  display: inline-block;
}
.footer-box .form-control{
    box-shadow: none !important; 
    border: none; 
    border-radius: 0; 
    margin: 20px 0;
}
.footer-box .btn-primary{
  box-shadow: none !important;
  width: 8rem;
  border: 2px solid #ffdde1;
  border-radius: 50px;
  background: #ffdde1;
  color: black;
    transition: transform 1.2s;
}
.footer-box .btn-primary:hover{
    background: white;
    color: black;
    border-color: #ffdde1;
    transition: 0.3s;
}
/*-------- Social Media icons ---------- */
#social p{
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
}
#social .svg-icons img{
    width: 23px;
    transition: transform .7s;
    margin-right: 1rem;
}
#social .social-icons .svg-icons img:hover{
    transform: scale(1.2);
}

a i{
    font-size: 25px;
    color: white;
    margin-right: 15px;
}

#social i:hover{
 color: #E100FF;
}

.copyright{
    padding-top: 2%;
    font-size: 15px;
}
.copyright a{
    text-decoration: none;
    color: #fff;
}
.copyright a:hover{
    text-decoration: none;
    color: #E100FF;
}

#map{
    background-size: cover;
    height: 500px;
    width: 100%;
}

.download{
    cursor: pointer;
}

.service-img{
    width: 150px;
    height: 150px;
}

.nav-link dropdown-toggle{
    margin-top: 500px;
}

.services-hover:hover{
    opacity: 0.3;
    transition: 0.4s;
    cursor: pointer;
}
